body{
    margin: 0px;
    background-image: url(assets/pista.gif);
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    overflow: hidden;
    user-select: none;
}

.Q{
    background-image: url(assets/banner.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;

    margin: 0px;
    position: absolute;
    transform: rotate(90deg);
    font-family: f1;
    z-index: 101;

    font-size: 2vh;
    color: rgb(202, 202, 202);
    padding: 1vh;
    padding-left: 15vh;
    padding-right: 15vh;
    right: -45vh;
    top: 46vh;
    width: 70vh;
    text-align: center;
}

.opciones{
    background-color: #1a1a1ad3;
    transform: rotate(90deg);
    border: solid 0.3vh #9d9d9d;
    border-radius: 1vh;
    position: absolute;
    height: 10vh;
    width: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3vh;

    transition: transform ease-in-out 0.5s;
}

.bienvenida{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #DE011A;
    z-index: 102;
    font-family: f1Bold;
    color: #d1d1d1;
    display: flex;
    font-size: 3.5vh;
    justify-content: center;
    align-items: center;
    
    transition: ease 1s;
}

.sobre{
    background-color: transparent;
    background-image: url(assets/sobrestatic.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vh;
    height: 30vh;
}

.centered-container {
    height: 60vh;
    width: 90vw;
    position: absolute;
    border: solid 1px #c2d8e8;
    background-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.336) 0px 0px 5vh 2px;
    overflow-x: auto;
    overflow-y: hidden;
    border-radius: 1vh;
    display: none;
    justify-content: center;
    align-items: center;
    transform: scale(0.01);
    transition: transform ease 2s;
    white-space: nowrap; /* Evita que el contenido se divida en líneas */
    box-sizing: border-box; /* Incluir el borde en las dimensiones */    
    z-index: 201;
}

.centered-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 278%;
    height: 100%;
    background-image: url('assets/hoja.png');
    background-size: cover; /* Ajusta el tamaño de la imagen al contenedor */
    z-index: -1;
    pointer-events: none; /* Evita que interfiera con la interacción del contenido */
}

.rotated-text {
    width: 40vh;
    font-size: 3vh;
    /* Tamaño de fuente deseado */

    white-space: pre-line;
    text-align: justify;
    color: #494949;
    font-family: yaelfont;
    transform-origin: center;
    transform: rotate(90deg);
}

.cartaContainer{
    display: none;
    opacity: 0;
    z-index: 100; /*100 DEFAULT*/
        
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #15151d;
    font-family: f1Bold;
    color: #d1d1d1;

    font-size: 3.5vh;
    justify-content: center;
    align-items: center;
    
    transition: ease 1s;
}

.saltarBtn{
    background-image: url(assets/sig.png);
    border: none;
    background-color: #f47d7d;
    border-radius: 100vh;
    bottom: 3vh;
    left: 3vh;
    position: absolute;
    width: 10vh;
    height: 10vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60%;

    display: none;
    opacity: 0;

    transition: opacity ease 1s;
}

.bienvenidaP{
    opacity: 0;
    transform: rotate(90deg);
    transform-origin: center;
    text-align: center;
    transition: opacity ease 1s;
}

.eval{
    display: none;
    opacity: 0;

    background-color: #40c146;
    position: absolute;
    font-size: 4vh;
    color: #ededed;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: f1bold;
    width: 100%;
    height: 100%;
    z-index: 102;

    transition: opacity ease-in 1s;
}

.imgP {
    height: 20%;
    width: fit-content;
    margin-left: 10vh;

    display: none;
    opacity: 0;

    transition: opacity ease-in 1s;
}

.chargBar1{
    width: 100%;
    height: 0vh;
    background-color: #cacaca6b;
    position: absolute;
    bottom: 0px;
}

.rapido {
    transition: height linear 0.5s
}

.lento {
    transition: height linear 3s
}

.opciones img{
    position: relative;
    width: 100%;
}

@font-face {
    font-family: f1;
    src: url(fonts/f1regular.otf);
}

@font-face {
    font-family: f1bold;
    src: url(fonts/f1bold.otf);
}

@font-face {
    font-family: yaelfont;
    src: url(fonts/Yaelfont.ttf);
}

.flecha{
    z-index: 10;
    top: 42.5vh;
    left: 52vw;
    position: absolute;
    height: 8vh;

    transition: transform ease 1s;
}

.container {
    width: 80vmin;
    /* Ajusta el tamaño del volante */
    height: 100vh;
    border: none;

    background-color: transparent;
    background-image: url(assets/rb18.gif);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 60%;

    top: -3vh;
    position: relative;
    overflow: hidden;
}

#wheel {
    position: absolute;
    width: 100%;
    height: 100%;
    left: -15vh;
    background-image: url('assets/volante.gif');
    /* Añade una imagen de volante */
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 2;
}